
<div class="navbar-wrapper">
	
			<div class ="container">
				
				<div class="navbar navbar-inverse navbar-static-top" role="navigation">
				
						<div class="container">
							
							<div class="navbar-header"
							
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only"> toggle navigation</span>
								<span class="icon-bar"> </span>
								<span class="icon-bar"> </span>
								<span class="icon-bar"> </span>
							</button>
							
							<a class="navbar-brand" href="/vista1/index">Observatorio BD</a>
							
							</div>
							
								
								<ul class="nav navbar-nav">
								
									<li><a href="/vista1/index"> Inicio</a></li>
									<li class="active"><a href="/vista2/index"> Consolas</a></li>
									<li><a href="/vista3/index"> Versus</a></li>
									<li><a href="/vista4/index"> Juegos</a></li>
									
									
									
								</ul>
							</div>
						</div>
					
				</div>
				
			</div><!-- final container-->
	
	</div><!-- final navbar-->
	
	<div class="container feature">
	
		<div class="row">
			
			<div class="col-lg-4">
					
					<img src="/images/Play4.jpg" class="img-circle" alt="Cinque Terre" style = "width:140px; height:140px;">
					<h2 style="color:white">Play Station 4</h2>
					<h4 style="color:white">Cantidad de Tweets: <%=@play%></h4>
					<p><a class="btn btn-default" href="/vista3/index" role="button">Ver mas! &raquo</a></p>
				
			</div>
			
			<div class="col-lg-4">
					
					<img src="/images/Xbox.jpg" class="img-circle" alt="Cinque Terre" style = "width:140px; height:140px;">
					<h2 style="color:white">XboxOne</h2>
					<h4  style="color:white">Cantidad de Tweets: <%=@xbox%></h4>
					<p><a class="btn btn-default" href="/vista3/index" role="button">Ver mas! &raquo</a></p>
				
			</div>
			
			<div class="col-lg-4">
					
					<img src="/images/WiiU.jpg" class="img-circle" alt="Cinque Terre" style = "width:140px; height:140px;">
					<h2 style="color:white">WiiU</h2>
					<h4 style="color:white">Cantidad de Tweets: <%=@wii%></h4>
					<p><a class="btn btn-default" href="/vista3/index" role="button">Ver mas! &raquo</a></p>
				
			</div>
			
		</div>
	
	</div>



	</body>

</html>
