<div class="navbar-wrapper">
	
			<div class ="container">
				
				<div class="navbar navbar-inverse navbar-static-top" role="navigation">
				
						<div class="container">
							
							<div class="navbar-header"
							
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only"> toggle navigation</span>
								<span class="icon-bar"> </span>
								<span class="icon-bar"> </span>
								<span class="icon-bar"> </span>
							</button>
							
							<a class="navbar-brand" href="/vista1/index">Observatorio BD</a>
							
							</div>
							
								
								<ul class="nav navbar-nav">
								
									<li class="active"><a href="/vista1/index.html"> Inicio</a></li>
									<li><a href="/vista2/index.html"> Consolas</a></li>
									<li><a href="/vista3/index"> Versus</a></li>
									<li><a href="/vista4/index"> Juegos</a></li>

									
									
									
								</ul>
							</div>
						</div>
					
				</div>
				
			</div><!-- final container-->
	
	</div><!-- final navbar-->
	
	
	
	<div id="myCarousel" class="carousel slide" data-ride="carousel">
	
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-to-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-to-slide-to="1"></li>
			<li data-target="#myCarousel" data-to-slide-to="2"></li>
		</ol>
	
		<div class="carousel-inner">
			
			<div class="item active">
				
					<img src="/images/play.jpg" alt="first slide"/>
				<div class="container">
					
					<div class="carousel-caption">
					
						<h1 style="color:#0101DF">Bienvenidos</h1>
						
						<p><a class="btn btn-lg btn-primary" href="/vista2/index" role="button">Ver mas!</a></p>
						
					</div>
				
				</div>
			
			</div>
			
			
			<div class="item">
				
					<img src="/images/xbox1.jpg" alt="second slide"/>
				<div class="container">
					
					<div class="carousel-caption">
					
						<h1 style="color:#0101DF">a nuestro</h1>
						
						
						
					</div>
				
				</div>
			
			</div>
			
			<div class="item">
				
					<img src="/images/wii.jpg" alt="tercer slide"/>
				<div class="container">
					
					<div class="carousel-caption">
					
						<h1 style="color:#0101DF">Proyecto!!</h1>
						
						
						
					</div>
				
				</div>
			
			</div>
			
		</div>
		
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div><! final carousel
	
	</body>

</html>
